@import "tailwindcss";

@layer utilities {
  .colorOne {
    @apply text-[#A1C568];
  }
  .bgWhite {
    background-image: url(../public/images/bg-white.svg);
    background-size: cover;
  }
  .bgMe {
    background-image: url(../public/images/profile2.jpg);
    background-size: cover;
  }
}
